// #top {
//   border-bottom: solid 5px coral;
// }
#top {
  margin: 10px;
}

.navbar-brand,
.nav-item {
  margin: 15px;
  color: #000000;
}

#navbarSupportedContent {
  font-size: 20px;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #A9A9A9;
}

img {
  width: 65px;
  margin: 10px;
}



